.box-a {
  background-color: lightgrey;
  padding: 30px;
  border: 2px solid black;
  margin-bottom: 10px;
  width: 250px;
  height: 150px;
  box-sizing: border-box;
}

.box-b {
  background-color: lightsalmon;
  width: 250px;
  height: 150px;
}

/* .box-b {
  background-color: lightsalmon;
  width: 314px;
  height: 214px;
} */