html {
  background-color: aquamarine;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 90%;
}

header {
  padding-top: 20px;
  /*padding-bottom: 20px;*/
  color: #30a364;
}

header h1 {
  margin: 0;
}

header p {
  margin: 0;
}

/* navigation Start here */
.site-nav {
  margin-top: 20px;
}

.site-nav a {
  color: #30a364;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #addbb5;
  border-bottom: none;
  display: block;
}

.site-nav a:hover {
  background-color: #addbb5;
}

.site-nav ul {
  padding: 0;
  margin: 0;
}

/*.site-nav ul {
  list-style-type: none;
}*/
/* OR */
.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}
/* navigation ends here */

footer {
  text-align: center;
  color: grey;
  font-size: 88%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.body-content {
  border-top: 3px solid #addbb5;
  border-bottom: 3px solid #addbb5;
  height: 100%;
}

.main-content {
  width: 66%;
  float: left;
  padding-right: 30px;
  box-sizing: border-box;
}

.sidebar {
  width: 34%;
  float: left;
  background-color: #addbb5;
  padding: 40px 30px;
  box-sizing: border-box;
  font-size: 86%;
}

img {
  max-width: 100%;
  height: auto;
}

.image-banner {
  position: relative;
}

.image-banner img {
  display: block;
}

.desc-banner {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  background-color: rgba(0, 0, 0, .6);
  padding: 10px 15px;
}

.fix {
  clear: both;
}

group:before, .group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}