html {
  background-color: aquamarine;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 90%;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #30a364;
}

header h1 {
  margin: 0;
}

header p {
  margin: 0;
}

footer {
  text-align: center;
  color: grey;
  font-size: 88%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.body-content {
  border-top: 3px solid #addbb5;
  border-bottom: 3px solid #addbb5;
}

.main-content {
  width: 66%;
  float: left;
  padding-right: 30px;
  box-sizing: border-box;
}

.sidebar {
  width: 34%;
  float: left;
  background-color: #addbb5;
  padding: 40px 30px;
  box-sizing: border-box;
  font-size: 86%;
}

.fix {
  clear: both;
}

group:before, .group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}