.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.body-content {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.main-content {
  width: 66%;
  float: left;
}

.sidebar {
  width: 34%;
  float: left;
}

.fix {
  clear: both;
}

group:before, .group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}