p {
  color: darkred;
}

header p {
  color: red;
}

header p span{
  color: green;
}

.highlight {
  background-color: bisque;
}

footer .highlight {
  background-color: lightgray;
}

p.company, .highlight {
  text-align: center;
}
