h1 {
  font-size: 165%;
  font-weight: normal;
}

body {
  color: green;
}

header p {
  color: red;
}

p {
  color: black /*!important*/
}

.selector-parag {
  color: brown;
}

#parag1 {
  color: chartreuse;
}